<html ang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        
        <title>Media App</title>
        <link rel="stylesheet" href="aboutus_styles.css">

        <!-- jQuery needs to be placed before bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Bootstrap Start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap End -->
    </head>
    <body>
    <!-- Nav bar Start-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Media App</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sports">Sports</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about_us">About Us</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
        </li>
      </ul>
    </div> 
    </nav>
    <br><br><br>
    <!-- Nav bar End-->
    
    <!--Section-->
    <section class="section pb-5">

        <div class="row">
      
          <!--Grid column-->
          <div class="col-lg-7" style="box-shadow: 10px 10px 5px rgb(217, 213, 213);">
            <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 350px; margin: 10px;">
                <!-- <iframe src="https://maps.google.com/maps?q=los%20angeles&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" style="border:0" allowfullscreen></iframe> -->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7776.095990224939!2d77.733485!3d12.9687807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13167c71c2a3%3A0xa88326088fc313c8!2sNallurhalli%20lake%20view!5e0!3m2!1sen!2sin!4v1687009898011!5m2!1sen!2sin"
                     width="600" height="450" style="border:0;" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            <div class="row text-center">
              <div class="col-md-4">
                <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                <p>Karnataka, India</p>
              </div>
            </div>
            
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-5 mb-4">
                <!-- Card -->
                <div class="card" style="margin: 10px; box-shadow: 10px 10px 5px rgb(217, 213, 213);">
                  <div class="card-body">
                    <!--Header-->
                    <div class="form-header blue accent-1">
                      <h3 style="color: black">
                        OUR MISSION
                      </h3>
                    </div>
          
                    <p style="font-size:22px">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus exercitationem consequuntur ullam ducimus cupiditate hic eveniet. Veritatis facilis voluptatem quo rerum asperiores nostrum? Distinctio dicta sint earum eum eveniet?
                    </p>
                
                    <!--Body-->
                  </div>
                </div>
                <!-- Card -->
              </div>
              <!--Grid column-->
        </div>
        <%- include ./partial/footer.ejs %>
      </section>
      <!--Section-->
        
    </body>
</html>