<center>
    <hr />
    <p style="width: 170px;">
            <img src="https://previews.123rf.com/images/spacestudiofr/spacestudiofr2304/spacestudiofr230400017/201746099-eagle-head-mascot-logo-design-vector-with-modern-illustration-concept-style-for-badge-emblem-and-t.jpg" 
            width="70" height="60" alt="" style="float: left;"/>
            &copy; Nitin, 2023
    </p>
    
</center>